* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:rgb(243, 236, 236);
    background-size: cover;
    overflow-y: auto;
}

.wrapper {
    display: flex;
    position: relative;
    top: -45%;
    left: -13%;
    margin: 0em 3em;
    padding: 2em;
    border-radius: 8px;
    transform: translate(50%, 50%);
}

.justi {
    justify-content: center;
    align-items:center;
    margin-left: 200px;
}


.menu-tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 200px;
}

.menu-buttons {
    position: fixed;
    height: 100vh;
    background-color:rgb(87, 87, 87);;
}

.menu-tab {
    padding: 1em 1em;
    background-color:  rgb(87, 87, 87);;
    border-top:1px solid rgb(28, 24, 24);
    border-style: groove;
    border-bottom: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0px -1px 3px 0px #1c2833;
    transition: background-color .3s;
}
.third-tab-button {
    border-bottom:1px solid rgb(28, 24, 24);
    outline: none;
    box-shadow: 0px -1px 3px 0px #1c2833;
}

.box-form {
    position: relative;
}
 
.button_dis {
    border-top:1px solid rgb(28, 24, 24);
    border-style: groove;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color:  rgb(87, 87, 87);
    color: #fff;
    outline: none;
    box-shadow: 0px -1px 3px 0px #1c2833;
    transition: background-color .3s;
}

.add-btn, .load-btn, .save-btn {
    margin-top: 2em;
    margin-right: 2em;
    padding: 0.2em 2em;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.save-btn:hover {
    border-color: rgb(238, 141, 15);
}
.add-btn:hover {
    border-color: rgb(238, 141, 15);
}
.load-btn:hover {
    border-color: rgb(238, 141, 15);
}
.edit-btn:hover {
    border-color: rgb(238, 141, 15);
}
.dec-btn:hover {
    border-color: rgb(238, 141, 15);
}
.inc-btn:hover {
    border-color: rgb(238, 141, 15);
}

.menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.box-form label {
    font-size: 23px;
    color: rgb(90, 91, 94);
    margin-bottom: 0.5em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.box-form input {
    font-size: 16px;
}

.title-text, .add-img, #id-number {
    padding: 1em;
    margin-bottom: 2em;
    width: 100%;
    border-radius: 3px;
    border: rgb(243, 236, 236);
    
}

textarea {
    max-width: 500px;
    min-width: 100%;
    height: 300px;
    border-radius: 5px;
    border: rgb(243, 236, 236);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#third-tab p {
    margin-top: 1.5em;
    color: red;
    
}
.message::-webkit-input-placeholder {
    
     padding-top: 15px;
     padding-left: 15px;
 }
 
 .message::-moz-input-placeholder {
    
    padding-top: 15px;
    padding-left: 15px
 }
 
 .message:-moz-input-placeholder {
    
    padding-top: 15px;
    padding-left: 15px
 }
 
 .message:-ms-input-placeholder {
    
    padding-top: 15px;
    padding-left: 15px
 }

.menu-tab:hover {
    background-color: rgb(221, 221, 221);
}

.menu-tab-active {
    background-color: rgb(221, 221, 221);
    color: rgb(238, 141, 15);
}



h3 {
    margin: 1em 0em;
}



/* PREVIEW SECTION */
#third-tab 
    {
    position: absolute;
    height: 100vh;
    transform: translate(55%, 55%);
}

img {
        max-width: 100%;
        max-height: 80%;
        display: block; /* remove extra space below image */
}

.box {
    margin: 70px 50px;
    width: 300px;
    height: 300px;
}

.box h2 {
    font-size: 23px;
}
.box p {
    font-size: 16px;
}
.box a {
    text-decoration: none;
    color: #21a1ec;
}

.content-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    right: 200px;
}

/* EDIT SECTION */

#second-tab {
    height: 100vh;
    position: absolute;
    transform: translate(55%, 55%);
}

/* DETAILS */

body nav {
    
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    right: 50%;
    transform: translate(50%,0%);
}
.container {
    position: relative;
    width: 600px;
}

.container p {
    font-size: 16px;
    font-weight: normal;
}

.container h1 {
    margin-top: 1em;
    font-size: 33px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
}

.delete-btn, .edit-btn {
    padding: 0.2em 2em;
    margin: 1em 0em;
    border-radius: 5px;    
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.edit-btn {
    margin-left: 2em;
}

.delete-btn:hover {
    border-color: rgb(238, 141, 15);
}

/* EDIT SECTION */

.edit-section {
display: flex;
position: relative;
justify-content: center;
align-content:center ;
align-items: center;
width: 100%;
height: 100Vh;
}

/* SEARCHH SECTION */

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 2em;

}

.search input {
    padding: 1em;
    width: 600px;
    border-radius: 3px;
    border: rgb(243, 236, 236);
}

.paginte-btns {
    display: flex;
    text-align: center;
    align-items: center;
}
/* PAGINATION BTNS */

.dec-btn, .inc-btn{
    margin: 3em 2em;
    padding: 0em 2em;
    border-radius: 5px;
    cursor: pointer;
}   

.page-nr {
    display: block;
    margin: 3em 0em;
}

#first-tab {
    height: 100%;
}